{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home page !</h1>
    <div>
        {% for user in users %}
            <p>
                Pseudo : {{ user.pseudo }} <br>
                Nom : {{ user.name }} <br>
                Email : {{ user.email }}
            </p>
        {% endfor %}
    </div>
    <button><a href="{{ path('redirect') }}">Connexion</a></button>
    {% if app.user %}
        {% for role in app.user.roles %}
        {% endfor %}
        {% if "ROLE_ADMIN" in app.user.roles %}
            <button><a href="{{ path('admin_page') }}">Connexion Admin</a></button>
        {% endif %}
    {% endif %}
{% endblock %}
