{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div id="formAep">
        <h1>{{ title|upper }}</h1>

        {{ form_start(form) }}
            {# Informations lacales #}
            <fieldset class="localInformations">
                <legend><h3>Local informations</h3></legend>
                {% for localInformation in form.localInformations %}
                   {# {{ form_row(localInformation.region, { 'label': 'Région', 'attr': { 'placeholder': "région de la source"}}) }} #}
                    <div class="form-group mb-5" style="position: relative;">
                        {{ form_label(localInformation.region, 'Région') }}
                        {{ form_widget(localInformation.region, {'attr': {'placeholder': "région de la source", 'class': 'autocomplete-region'}}) }}
                        <input type="text" class="form-control" name="aep[localInformations][0][region]" id="autocomplete-ajax-x" disabled="disabled" style="color: #CCC; position: absolute; z-index: 1;"/>
                    
                        <small>{{ form_help(localInformation.region) }}</small>
                    
                        <div class="form-error">
                            {{ form_errors(localInformation.region) }}
                        </div>
                    </div>
                    
                    {# {{ form_row(localInformation.department, {'label': 'Département', 'attr': {'placeholder': 'département de la source'}}) }} #}
                    <div class="form-group mb-5" style="position: relative;">
                        {{ form_label(localInformation.department, 'Département') }}
                        {{ form_widget(localInformation.department, {'attr': { 'placeholder': 'département de la source', 'class': 'autocomplete-department'}}) }}
                        <input type="text" class="form-control" name="aep[localInformations][0][department]" id="autocomplete-ajax-z" disabled="disabled" style="color: #CCC; position: absolute; z-index: 1;"/>
                    
                        <small>{{ form_help(localInformation.department) }}</small>
                    
                        <div class="form-error">
                            {{ form_errors(localInformation.department) }}
                        </div>
                    </div>
                    {# {{ form_row(localInformation.borough, {'label': 'Arrondissement', 'attr': {'placeholder': 'arrondissement de la source'}}) }} #}
                    <div class="form-group mb-5" style="position: relative;">
                        {{ form_label(localInformation.borough, 'Arrondissement') }}
                        {{ form_widget(localInformation.borough, {'attr': {'placeholder': 'arrondissement de la source', 'class': 'autocomplete-borough'}}) }}
                        <input type="text" class="form-control" name="aep[localInformations][0][borough]" id="autocomplete-ajax-y" disabled="disabled" style="color: #CCC; position: absolute; z-index: 1;"/>
                    
                        <small>{{ form_help(localInformation.borough) }}</small>
                    
                        <div class="form-error">
                            {{ form_errors(localInformation.borough) }}
                        </div>
                    </div>
                    {{ form_row(localInformation.locality, {'label': 'Localité ou village', 'attr': {'placeholder': 'localité ou village de la source'}}) }}
                    {{ form_row(localInformation.district, {'label': 'Quartier', 'attr': {'placeholder': 'quartier de la source'}}) }}
                    {{ form_row(localInformation.population, {'label': 'Population', 'attr': {'placeholder': 'population de la localité', 'inputmode': 'decimal'}}) }}
                    <hr class="bg-primary">
                    <fieldset class="gpsCoordinates">
                        <legend><h3>Coordonées GPS de la souce</h3></legend>
                        {% for gpsCoordinates in localInformation.gpsCoordinates %}
                            {{ form_row(gpsCoordinates.latitude, {'label': 'Latitude', 'attr': {'placeholder': 'latitude', 'inputmode': 'decimal'}}) }}
                            {{ form_row(gpsCoordinates.longitude, {'label': 'Longitude', 'attr': {'placeholder': 'longitude', 'inputmode': 'decimal'}}) }}
                        {% endfor %}
                    </fieldset>
                {% endfor %}
            </fieldset>
            <hr class="bg-primary">

            {# AEP forage, prise en eau de surface, at captage par source #}
            <fieldset class="type" data-type-aep="{{ type }}">
                <legend><h3>Adduction en Eau Potable : {{ type|capitalize }}</h3></legend>

                {% if type is same as ('forage') or type is same as ('autre') %}
                    {{ form_row(form.depth, {'label': 'Profondeur', 'attr': {
                        'placeholder': 'profondeur de la source',
                        'inputmode': 'decimal'
                    }}) }}
                {% endif %}

                {{ form_row(form.buildingYear, {'label': 'Année de construction'}) }}
                {{ form_row(form.funding, {'label': 'Financement', 'attr': {'placeholder': 'financement'}}) }}
                <hr class="bg-primary">
                {% if type is same as ('forage') %}
                    {# Dossier de recollement #}
                    <fieldset class="stickingBack">
                        <legend><h3>Dossier de recollement</h3></legend>
                        {% for stickingback in form.stickingBack %}
                            {{ form_row(stickingback.exist, {'label': 'Statut'}) }}
                            {{ form_row(stickingback.comments, {'label': 'Commentaires', 'attr': {'placeholder': 'commentaires'}}) }}
                        {% endfor %}
                    </fieldset>
                    <hr class="bg-primary">
                {% endif %}

                {{ form_row(form.productionCapacity, {'label': 'Capacité de production', 'attr': {'placeholder': 'capacité de production', 'inputmode': 'decimal'}}) }}
                <hr>
                {# stockage #}
                <fieldset class="storage">
                    <legend><h3>Stockage</h3></legend>
                    {% for store in form.storage %}
                        {{ form_row(store.quantity, {'label': 'Quantité', 'attr': {'placeholder': 'quantité en m3', 'inputmode': 'decimal'}}) }}
                        {{ form_row(store.sufficient, {'label': 'Etat'}) }}
                        {{ form_row(store.structureStatus, {'label': 'Etat de la structure'}) }}
                    {% endfor %}
                </fieldset>
                <hr class="bg-primary">

                {% if type is same as ('prise-en-eau-de-surface') %}
                    {# Mode de communication entre l'agent ou comité de gestion et la commune #}
                    <fieldset class="agentCommunicationMode">
                        <legend><h3>Mode de communication entre l’agent ou comité degestion et la Commune</h3></legend>
                        {% for agentCommunication in form.agentCommunicationMode %}
                            {{ form_row(agentCommunication.contract, {'label': 'Contrat'}) }}
                            {{ form_row(agentCommunication.capacityBuilding, {'label': 'renforcement de capacité'}) }}
                            {{ form_row(agentCommunication.others, {'label': 'Autre', 'attr': {
                                'placeholder': 'autre à préciser'
                            }}) }}
                        {% endfor %}
                    </fieldset>
                    <hr class="bg-primary">
                {% endif %}

                {% if type != 'captage-par-source' %}
                    {{ form_row(form.networkLength, {'label': 'Longueur du réseau', 'attr': {
                        'placeholder': 'longueur du réseau',
                        'inputmode': 'decimal'
                    }}) }}
                {% endif %}

                {{ form_row(form.adductionType, {'label': "Type d'adduction"}) }}

                {% if type is same as ('captage-par-source') %}
                    {{ form_row(form.linearNetwork, {'label': 'Réseau linéaire', 'attr': {
                        'placeholder': 'réseau linéaire'
                    }}) }}
                {% endif %}
                <hr>
                {# Type d'équipement #}
                <fieldset class="equipmentAep">
                    <legend><h3>Type d'équipement</h3></legend>
                    {% for equipment in form.equipmentAep %}
                        {{ form_row(equipment.pumpQuality, {'label': 'Qualité de la pompe'}) }}
                        {{ form_row(equipment.others, {'label': 'Autre', 'attr': {'placeholder': 'autre à préciser'}}) }}
                    {% endfor %}
                </fieldset>
                <hr class="bg-primary">

                {# Analyse et traitement de l'eau #}
                <fieldset class="waterTraitmentAnalysis">
                    <legend><h3>Analyse et traitement de l'eau</h3></legend>
                    {% for waterTraitment in form.waterTraitmentAnalysis %}
                        {{ form_row(waterTraitment.unitTraitmentPresence, {'label': "Présence d'une unité de traitement"}) }}
                        {{ form_row(waterTraitment.analysisFrequency, {'label': 'Fréquence de traitement de l\'eau'}) }}
                        {{ form_row(waterTraitment.lastAnalysisAt, {'label': 'Date de la dernière analyse de l\'eau'}) }}
                        {{ form_row(waterTraitment.appliedTraitmentType, {'label': 'Type de traitement appliqué', 'attr': {'placeholder': 'Type de traitement appliqué'}}) }}
                    {% endfor %}
                </fieldset>
                <hr class="bg-primary">

                {{ form_row(form.operatingState, {'label': 'Etat de fonctionement'}) }}

                <hr>
                {# Mode de gestion #}
                <fieldset class="managementMode">
                    <legend><h3>Mode de gestion</h3></legend>
                    {% for managementMode in form.managementMode %}
                        {{ form_row(managementMode.managementAgent, {'label': 'Agent de gestion'}) }}
                        {{ form_row(managementMode.others, {'label': 'Autre', 'attr': {'placeholder': 'autre à préciser'}}) }}
                    {% endfor %}
                </fieldset>
                <hr class="bg-primary">

                {# Mode de financement #}
                <fieldset class="fundingMode">
                    <legend><h3>Mode de financement</h3></legend>
                    {% for fundingMode in form.fundingMode %}
                        {{ form_row(fundingMode.facturationMode, {'label': 'Mode facturation'}) }}
                        {{ form_row(fundingMode.others, {'label': 'Autre', 'attr': {'placeholder': 'autre à préciser'}}) }}
                    {% endfor %}
                </fieldset>
                <hr>

                {# Maintenance #}
                <fieldset class="maintenance">
                    <legend><h3>Maintenance</h3></legend>
                    {% for maintenance in form.maintenance %}
                        {{ form_row(maintenance.agent, {'label': 'Agent de maintenance'}) }}
                        {{ form_row(maintenance.others, {'label': 'Autre', 'attr': {'placeholder': 'autre à préciser'}}) }}
                    {% endfor %}
                </fieldset>
                <hr class="bg-primary">

                {# Source d'AEP #}
                <fieldset class="source" data-source-aep="{{ source }}">
                    <legend><h3>Source d'adduction : {{ source|capitalize }}</h3></legend>
                    {% if source is same as ('pmh') or source is same as ('autre') %}
                        {% for pmh in form.aepPmh %}
                            {{ form_row(pmh.pompBrand, {'label': 'Marque de pompe', 'attr': {
                                'placeholder': 'marque de la pompe'
                            }}) }}
                            {{ form_row(pmh.pumpPower, {'label': 'Puissance de la pompe', 'attr': {
                                'placeholder': 'puissance de la pompe'
                            }}) }}
                            {{ form_row(pmh.superstructure, {'label': 'Etat de la structure'}) }}
                            {{ form_row(pmh.drainingChannel, {'label': "Chenal d'évacuation des eaux"}) }}
                            <fieldset>
                                <legend>Puit perdu</legend>
                                {% for lostWell in pmh.lostWell %}
                                    {{ form_row(lostWell.exist, {'label': 'Statut'}) }}
                                    {{ form_row(lostWell.functional, {'label': 'Etat'}) }}
                                {% endfor %}
                            </fieldset>
                        {% endfor %}
                    {% elseif source is same as ('source-amelioree') or source is same as ('autre') %}
                        {% for improveSource in form.aepImproveSource %}
                            {{ form_row(improveSource.superstructure, {'label': "Construction d'une superstructure"}) }}
                            {{ form_row(improveSource.pipeline, {'label': 'Canalisation de l\'eau'}) }}
                        {% endfor %}
                    {% elseif source is same as ('puit-traditionel') or source is same as ('autre') %}
                        {% for traditionalWell in form.aepTraditionalWell %}
                            {{ form_row(traditionalWell.bucket, {'label': "Présence d'un seau"}) }}
                            {{ form_row(traditionalWell.rope, {'label': "Présence d'une corde"}) }}
                            {{ form_row(traditionalWell.lid, {'label': "Présence d'une couverture du puit"}) }}
                            {{ form_row(traditionalWell.pulley, {'label': "Présence d'une poulie"}) }}
                            {{ form_row(traditionalWell.superstructure, {'label': "Construction d'une superstructure"}) }}
                        {% endfor %}
                    {% endif %}
                </fieldset>

            </fieldset>

            {% if edit_mode %}
                <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
            {% else %}
                <button type="submit" class="btn btn-success">Enregistrer</button>
            {% endif %}
        {{ form_end(form) }}
    </div>
{% endblock %}
