{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section>
        <h1>Renseignez la source d'AEP : {{ source }}</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In voluptate 
            esse expedita temporibus praesentium vitae?</p>
        <p><a href="{{ path('aep_new', {'type': source, 'src': 'pmh'}) }}" class="btn btn-primary">PMH</a></p>
        <p><a href="{{ path('aep_new', {'type': source, 'src': 'source-amelioree'}) }}" class="btn btn-primary">Source améliorée</a></p>
        <p><a href="{{ path('aep_new', {'type': source, 'src': 'puit-traditionel'}) }}" class="btn btn-primary">Puit traditionnel</a></p>
        <p><a href="{{ path('aep_new', {'type': source, 'src': 'autre'}) }}" class="btn btn-primary">Autre</a></p>
    </section>
{% endblock %}