{% extends "base.html.twig" %}

{% block body %}

    <h1>Creation d'un article !</h1>

    {{ form_start(form_article) }}

        {{ form_row(form_article.title, {'label': 'Titre', 'attr': {'placeholder': 'Titre de l\'article'}}) }}
        {{ form_row(form_article.category) }}
        {{ form_row(form_article.content, {'label': 'Contenu', 'attr': {'placeholder': "Contenu de l'article"}}) }}
        {{ form_row(form_article.image, {'label': 'Image', 'attr': {'placeholder': "URL de l'image"}}) }}

        {% if edit_mode %}
            <button type="submit" class="btn btn-success">Enregistrer les modifications !</button>
        {% else %}
            <button type="submit" class="btn btn-success">Ajouter l'article</button>
        {% endif %}

    {{ form_end(form_article) }}

{% endblock %}